# Neon PostgreSQL
DATABASE_URL="postgresql://neondb_owner:npg_ZuQ5zKE3XFYd@ep-holy-cloud-asgdj9pf.c-4.eu-central-1.aws.neon.tech/neondb?sslmode=require"

# NextAuth
AUTH_SECRET="your-secret-key-change-this"
AUTH_URL="https://maviweb.vercel.app"

# Resend (email)
RESEND_API_KEY="re_hZCbeEBm_H7P9oTk8s9bpU4v8pkDkGjRc"

# Site
NEXT_PUBLIC_SITE_NAME="RegNews"
NEXT_PUBLIC_SITE_URL="https://maviweb.vercel.app"
